<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Fragment de la navbar utilisateur -->
    <nav th:fragment="user-navbar" class="navbar">
        <div class="navbar-top">
            <a th:href="@{/user/dashboard}" class="navbar-logo">Logo</a>
            <div class="navbar-search">
                <input type="text" id="searchInput" placeholder="Barre de recherche" class="search-bar">
            </div>
            <div class="navbar-actions">
                <a th:href="@{/user/profile}" class="navbar-link">Profil</a>
                <a th:href="@{/user/cart}" class="navbar-link">Panier</a>
            </div>
        </div>
        <div class="navbar-categories">
            <a th:href="@{/user/products(category='ordinateur')}" class="category-link">Ordinateur</a>
            <a th:href="@{/user/products(category='smartphone')}" class="category-link">smartphone</a>
            <a th:href="@{/user/products(category='accessoires')}" class="category-link">Accessoires</a>
        </div>
    </nav>
</body>
</html>
